<!doctype html>
<html>
<head>
<style>
a[
    title="FAQ"
]{
    text-decoration: none;
    color: blueviolet;
    font-size: 20px;
}

</style>
<ul>
<li><a href="#">Home</a></li>
<li><a href="#" title="FAQ">FAQ</li>
</ul>